/*---------------------------*
 * Notes & legal link blocks *
 *---------------------------*/
.note {
  font-size: 0.7rem;
  line-height: 1.2;
  color: var(--text-dim);
}
.table-note {
  display: none !important;
  margin: 0;
}
#contribution {
  margin: 0;
  font-weight: 500;
}
#contribution a {
  transition: 0.3s;
  color: var(--header);
  text-decoration: none;
}
#contribution a:hover {
  transition: 0.3s;
  color: var(--header-alt);
}
:root.dark #contribution a:hover {
  color: #e4c969;
}

/* Copyright block */
#copyright {
  transition: 0.3s;
  font-weight: 500;
  width: 100%;
  height: 36px;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
  line-height: 1.25;
}
:root.dark #copyright {
  font-weight: 400;
}
#copyright .legal-links {
  white-space: nowrap;
}
#copyright a {
  transition: 0.3s;
  display: inline;
}
:root.dark #copyright a:hover {
  transition: 0.3s;
  color: #e4c969;
}
