# Python virtual environment
venv/

# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/

# Editor/OS files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Export files
export/files/

# Scraping results
scraping/*.txt

# Untracked files
untracked/